@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

body {
  background-color: #191919;
  color: #A1BBB6;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
  margin: 3vh 0;

}

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh;
}

li {
  list-style: none;
  text-align: left;
  line-height: 1.5em;
  border-bottom: 1px #333 solid;
}


.right, .left {
  width: 25vw;
}

.left {
  padding-left: 10vw;
}
.right {
  padding-right: 10vw;
}

iframe {
  height: 350px;
  width: 98.5vw;
  position: relative;
  bottom: 0;
  top: -1;
}